services:
  # --- INSTÂNCIA 1 DA API ---
  zenith-api-1:
    build:
      context: .
      dockerfile: Dockerfile
    hostname: "node-01"
    restart: always
    environment:
      - REDIS_ADDR=redis-store:6379 # Nome do serviço do Redis
    env_file:
      - .env
    volumes:
      - ./logs_host/api1:/root/logs # Logs separados para debug
    depends_on:
      - redis-store

  # --- INSTÂNCIA 2 DA API ---
  zenith-api-2:
    build:
      context: .
      dockerfile: Dockerfile
    hostname: "node-02"
    restart: always
    environment:
      - REDIS_ADDR=redis-store:6379
    env_file:
      - .env
    volumes:
      - ./logs_host/api2:/root/logs # Logs separados para debug
    depends_on:
      - redis-store

  # --- REDIS (Banco de Sessão) ---
  redis-store:
    image: redis:alpine
    container_name: zenith-redis
    restart: always
    # Opcional: persistência em disco se quiser que sessões sobrevivam a restart do docker
    command: redis-server --save 60 1 --loglevel warning --requirepass ${REDIS_PASSWORD}
    volumes:
      - redis_data:/data

  # --- NGINX (Load Balancer) ---
  loadbalancer:
    image: nginx:alpine
    container_name: zenith-lb
    restart: always
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/dashboard.html:/usr/share/nginx/html/dashboard.html:ro
    ports:
      - "8080:80" # Porta de entrada para o mundo
    depends_on:
      - zenith-api-1
      - zenith-api-2

volumes:
  redis_data: